<table class="table table-striped ">
      <thead class="bg-primary">
        <tr>
          <th class="text-center">Id</th>
          <th class="text-center">Data</th>
          <th class="text-center">Paciente</th>
          <th class="text-center">Medico</th>
        </tr>
      </thead>
      <tbody *ngFor="let receita of receitas">
        <tr>
          <td>{{receita._id}}</td>
          <td>{{receita.data}}</td>
          <td>{{receita.paciente}}</td>
          <td>{{receita.medico}}</td>
        </tr>
      </tbody>
    </table>